<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pick & Play - Accueil</title>
    <meta name="description" content="Location de jeux vidéo" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/pick-and-play.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/bootstrap/css/custom.css">
    @RenderSection("Css", required: false)
</head>

<body class="m-4">
    <div class="container-fluid m-1 p-1">

        <div class="container">
            <main role="main" class="pb-3">
                <header>
                    <ul class="row nav">
                        <li class="col nav-item">
                            <a class="nav-link active" href="#">
                                <img class="img-fluid" src="/images/logo.png"
                                     alt="Pick & Play icon" />
                            </a>
                        </li>

                        <li class="col-md-4 mt-2 nav-item">
                            <div class="input-group p-2">
                                <input type="text" class="form-control" placeholder="Rechercher" aria-label="Rechercher" />
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text" id="basic-addon2">
                                        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                            <path fill-rule="evenodd"
                                                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="col-md mt-2 nav-item">
                            <a class="p2 btn nav-link  text-primary" href="actualites.html">
                                <span class="h6">Actualités</span>
                            </a>
                        </li>

                        <li class="col-md mt-2 nav-item text-center">
                            <div class="btn-group">
                                <a class="p-2 mr-0 btn nav-link text-danger" href="profil.html">
                                    <span class="h6"> Nicola Carraro</span>
                                    <span class="badge h6 badge-light text-danger">4</span>
                                </a>
                                <button type="button" class=" ml-0 btn dropdown-toggle r h6 text-danger" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-danger" href="#">Location en retard</a>
                                    <a class="dropdown-item text-success" href="#">
                                        Votre reservation est disponible
                                    </a>
                                    <a class="dropdown-item text-success" href="#">Something else here</a>
                                    <a class="dropdown-item text-success" href="#">Dévoilée la nouvelle Playstation</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </header>
                <main>
                    @RenderBody()
                </main>
        </div>

        <footer>
            <div class="container text-center text-md-left">

                              <div class="row">

                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Mentions légales</a>
                            </li>
                            <li>
                                <a href="#!">Very long link 2</a>
                            </li>
                            <li>
                                <a href="#!">Very long link 3</a>
                            </li>
                            <li>
                                <a href="#!">Very long link 4</a>
                            </li>
                        </ul>

                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"></a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
            <div class="footer-copyright text-center text-danger py-3">
                © 2020 Copyright: Pick & Play
            </div>

        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
