@model PickAndPlay.Models.Magasin

@{
    ViewData["Title"] = "Jeu";
}

<div class="row">
    <div class="col-md-6">
        <div>
            <img class="img-fluid p-5"
                 src="./images/magasin.jpg"
                 alt="Lapins crétins avec cadis" />
        </div>
    </div>
    <div class="col-md">
        <section class="m-5">
            <h4 class="display-5 m-3">
                Clermont Jeux
            </h4>

            <div class="m-3">
                <p>
                    <strong>Adresse :</strong>
                    <a href="https://www.google.com/maps/place/39+Rue+Lecuelle+63100+Clermont-Ferrand/">
                        39 rue Lecuellé, 63100 Clermont-Ferrand
                    </a>
                </p>

                <p>
                    <strong>Proprietaire : </strong>
                    <a href="profil.html"> Marc</a>
                </p>
            </div>
        </section>
    </div>

</div>
